<div class="container top-10">
  <button class="btn btn-primary" routerLink="/contatos/novo">Novo</button>
  <p></p>
  <table class="table" *ngIf="contatos$ | async as contatos; else loading">
    <tr class="thead-dark">
      <th>ID</th>
      <th>Nome</th>
      <th>Emdereço</th>
      <th>Telefone</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>#</th>
    </tr>
    <tr *ngFor="let contato of contatos">
      <td>{{ contato.id }}</td>
      <td>{{ contato.nome }}</td>
      <td>{{ contato.endereco }}</td>
      <td>{{ contato.telefone }}</td>
      <td>{{ contato.cidade.nome }}</td>
      <td>{{ contato.cidade.estado.nome }}</td>
      <td>
        <button class="btn btn-warning" routerLink="/contatos/editar/{{ contato.id }}">Editar</button>
        &nbsp;
        <button class="btn btn-danger" (click)="preDeletar(deletar, contato)">Deletar</button>
      </td>
    </tr>
  </table>
  <br>
  <ng-template #loading>
    <p>Carregando dados...</p>
  </ng-template>
  <ng-template #deletar>

    <div class="modal-header">
      <h4 class="modal-title pull-left">Deletar Contato</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Deseja deletar o contato{{ contatoSelecionado.nome }} ?</p>
      <button class="btn btn-danger" (click)="confirm()">Deletar</button>
      &nbsp;
      <button class="btn btn-info" (click)="modal.hide()">Cancelar</button>
    </div>

  </ng-template>
</div>
