<div class="container top-10">
  <button class="btn btn-primary" routerLink="/estados/novo">Novo</button>
  <p></p>
  <table class="table" *ngIf="estados$ | async as estados; else loading">
    <tr class="thead-dark">
      <th>ID</th>
      <th>Nome</th>
      <th>Sigla</th>
      <th>#</th>
    </tr>
    <tr *ngFor="let estado of estados">
      <td>{{ estado.id }}</td>
      <td>{{ estado.nome }}</td>
      <td>{{ estado.sigla }}</td>
      <td>
        <button class="btn btn-warning" routerLink="/estados/editar/{{ estado.id }}">Editar</button>
        &nbsp;
        <button class="btn btn-danger" (click)="preDeletar(deletar, estado)">Deletar</button>
      </td>
    </tr>
  </table>
  <br>
  <ng-template #loading>
    <p>Carregando dados...</p>
  </ng-template>


  <ng-template #deletar>

    <div class="modal-header">
      <h4 class="modal-title pull-left">Deletar Estado</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Deseja deletar o estado {{ estadoSelecionado.nome }} ?</p>
      <button class="btn btn-danger" (click)="confirm()">Deletar</button>
      &nbsp;
      <button class="btn btn-info" (click)="modal.hide()">Cancelar</button>
    </div>

  </ng-template>
</div>
