<div class="container top-10">

    <div class="form-group">
      <label for="txtID">ID</label>
      <input type="text" class="form-control" id="txtID"
        aria-describedby="id" placeholder="ID Preenchido Automaticamente"
        [(ngModel)]="contato.id" readonly>
    </div>
  
    <div class="form-group">
      <label for="txtNome">Nome</label>
      <input type="text" class="form-control" id="txtNome"
        aria-describedby="nome" placeholder="Preencher o nome"
        [(ngModel)]="contato.nome">
    </div>
  
    <div class="form-group">
        <label for="txtEndereco">Endereço</label>
        <input type="text" class="form-control" id="txtEndereco"
          aria-describedby="endereço" placeholder="Preencher o endereço"
          [(ngModel)]="contato.endereco">
    </div>

    <div class="form-group">
        <label for="txtTelefone">Endereço</label>
        <input type="text" class="form-control" id="txtTelefone"
          aria-describedby="telefone" placeholder="Preencher o telefone"
          [(ngModel)]="contato.telefone">
    </div>
  
    <div class="form-group">
      <label for="selectEstado">Estado</label>
      <select *ngIf="estados$ | async as estados; else loadingEstados"
        class="form-control" id="selectEstado" (change)="carregarCidades()"
        [(ngModel)]="contato.cidade.estado.id">
        <option *ngFor="let estado of estados"
          [value]="estado.id">{{ estado.nome }} - {{ estado.sigla }}</option>
      </select>
    </div>

    <div class="form-group">
        <label for="selectCidade">Cidade</label>
        <select *ngIf="cidades$ | async as cidades; else loadingCidades"
          class="form-control" id="selectCidade"
          [(ngModel)]="contato.cidade.id">
          <option *ngFor="let cidade of cidades"
            [value]="cidade.id">{{ cidade.nome }} - {{ cidade.estado.sigla }}</option>
        </select>
      </div>
  
    <button class="btn btn-primary" (click)="salvarContato()">Salvar</button>
    &nbsp;
    <button class="btn btn-danger" routerLink="/contatos">Cancelar</button>
  
    <ng-template #loadingEstados>
      <select class="form-control" id="selectCarregandoEstados">
        <option value="" disabled selected>Carregando Estados...<option>
      </select>
    </ng-template>

    <ng-template #loadingCidades>
        <select class="form-control" id="selectCarregandoCidades">
          <option value="" disabled selected>Selecione Estado para carregar cidades...<option>
        </select>
      </ng-template>
  
  </div>
  