<div class="container top-10">

  <div class="form-group">
    <label for="txtID">ID</label>
    <input type="text" class="form-control" id="txtID"
      aria-describedby="id" placeholder="ID Preenchido Automaticamente"
      [(ngModel)]="cidade.id" readonly>
  </div>

  <div class="form-group">
    <label for="txtNome">Nome</label>
    <input type="text" class="form-control" id="txtNome"
      aria-describedby="nome" placeholder="Preencher o nome"
      [(ngModel)]="cidade.nome">
  </div>

  <div class="form-group">
    <label for="selectCapital">Capital</label>
    <select class="form-control" id="selectCapital"
      [(ngModel)]="cidade.capital">
      <option value="false">Não</option>
      <option value="true">Sim</option>
    </select>
  </div>

  <div class="form-group">
    <label for="selectEstado">Estado</label>
    <select *ngIf="estados$ | async as estados; else loading"
      class="form-control" id="selectEstado"
      [(ngModel)]="cidade.estado.id">
      <option *ngFor="let estado of estados"
        [value]="estado.id">{{ estado.nome }} - {{ estado.sigla }}</option>
    </select>
  </div>

  <button class="btn btn-primary" (click)="salvarCidade()">Salvar</button>
  &nbsp;
  <button class="btn btn-danger" routerLink="/cidades">Cancelar</button>

  <ng-template #loading>
    <select class="form-control" id="selectCarregando">
      <option value="" disabled selected>Carregando Estados...<option>
    </select>
  </ng-template>

</div>
