<div class="container top-10">

  <div class="form-group">
    <label for="txtID">ID</label>
    <input type="text" class="form-control" id="txtID"
      aria-describedby="id" placeholder="ID Preenchido Automaticamente"
      [(ngModel)]="estado.id" readonly>
  </div>

  <div class="form-group">
    <label for="txtNome">Nome</label>
    <input type="text" class="form-control" id="txtNome"
      aria-describedby="nome" placeholder="Preencha o nome"
      [(ngModel)]="estado.nome">
  </div>

  <div class="form-group">
    <label for="txtSigla">Sigla</label>
    <input type="text" class="form-control" id="txtSigla"
      aria-describedby="sigla" placeholder="Preencha a sigla"
      [(ngModel)]="estado.sigla">
  </div>

  <button class="btn btn-primary" (click)="salvarEstado()">Salvar</button>
  &nbsp;
  <button class="btn btn-danger" routerLink="/estados">Cancelar</button>

</div>
