<div class="container top-10">
  <button class="btn btn-primary" routerLink="/cidades/novo">Novo</button>
  <p></p>
  <table class="table" *ngIf="cidades$ | async as cidades; else loading">
    <tr class="thead-dark">
      <th>ID</th>
      <th>Nome</th>
      <th>Capital</th>
      <th>Estado</th>
      <th>#</th>
    </tr>
    <tr *ngFor="let cidade of cidades">
      <td>{{ cidade.id }}</td>
      <td>{{ cidade.nome }}</td>
      <td>{{ cidade.capital }}</td>
      <td>{{ cidade.estado.nome }}</td>
      <td>
        <button class="btn btn-warning" routerLink="/cidades/editar/{{ cidade.id }}">Editar</button>
        &nbsp;
        <button class="btn btn-danger" (click)="preDeletar(deletar, cidade)">Deletar</button>
      </td>
    </tr>
  </table>
  <br>
  <ng-template #loading>
    <p>Carregando dados...</p>
  </ng-template>


  <ng-template #deletar>

    <div class="modal-header">
      <h4 class="modal-title pull-left">Deletar Cidade</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Deseja deletar a cidade {{ cidadeSelecionada.nome }} ?</p>
      <button class="btn btn-danger" (click)="confirm()">Deletar</button>
      &nbsp;
      <button class="btn btn-info" (click)="modal.hide()">Cancelar</button>
    </div>

  </ng-template>
</div>
