<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a id="brandLink" class="navbar-brand" routerLink="/">Contatos NG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a id="estadosLink" class="nav-link" routerLink="/estados">Estados</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a id="cidadesLink" class="nav-link" routerLink="/cidades">Cidades</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a id="contatosLink" class="nav-link" routerLink="/contatos">Contatos</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
